/* Establece la fuente Roboto para todo el contenido del body */
body * {
    font-family: "Roboto", sans-serif;
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* danos tamaño al texto, color, convertimos a mayuscula, creamos espaciado
le damos un margen y sombra de texto */
h1 {
    
    font-family: "Pacifico", cursive;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    color: #333;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra de texto */
}

/* Estilos para el modo claro, con una transicion para camiar el fondo */
.light-mode {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para el modo oscuro, con una transicion para camiar el fondo */
.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode h1{
    color: #ffffff
}


/* Estilos para la fila de drum pads */
#drum-pad-row {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

/* Estilos para el contenedor de drum pads */
#drum-pad-container {
    background-color: #4E6E81;
    border: 1px solid #F0ECE5;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    width: 70vw;
    height: 70vw;
    border-radius: 20px;
    max-width: 700px;
    max-height: 700px;
}

/* Estilos para los pads de batería */
.drum-pad {
    font-size: 20px;
    font-weight: 700;
    width: calc(33.33% - 10px);
    height: calc(33.33% - 10px);
    box-sizing: border-box;
    margin: 5px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    color: grey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(11, 131, 119, 0);
    
}

/* Animación para el parpadeo neon */
@keyframes neon-glow {
    0% {
        background-color: #007bff;
        box-shadow: 0 0 10px rgba(11, 131, 119, 0); /* Sin sombra */
    }
    50% {
        background-color: #FF1493; /* Color de neón 1 */
        box-shadow: 0 0 20px 5px rgba(11, 131, 119, 0.5); /* Sombra con mayor intensidad */
    }
    100% {
        background-color: #007bff;
        box-shadow: 0 0 10px rgba(11, 131, 119, 0); /* Sin sombra */
    }
}

/* Estilos al pasar el cursor sobre los pads */
.drum-pad:hover, .drum-pad.pressed {
    animation: neon-glow 0.3s infinite; /* Aplicar la animación */
}

.drum-pad[data-key="65"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #3364b5);
    border: 2px solid #3364b5;
}


.drum-pad[data-key="83"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #FFD740);
    border: 2px solid #FFD740;
}

.drum-pad[data-key="68"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #69F0AE);
    border: 2px solid #69F0AE;
}

.drum-pad[data-key="70"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #536DFE);
    border: 2px solid #536DFE;
}

.drum-pad[data-key="87"] {
    background-image: url(./imgs/marshmello.jpg);
        background-size: cover;
        /* Ajusta la imagen para cubrir todo el espacio del drum pad */
        background-position: center;
        /* Centra la imagen */
        border: none;
        /* Elimina el borde */
        box-shadow: none;
        /* Elimina la sombra */
        transition: transform 0.1s;
        /* Agrega una transición */
}

.dark-mode .drum-pad[data-key="87"] {
    filter: invert(1);
}

.drum-pad[data-key="69"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #FF5722);
    border: 2px solid #FF5722;
}

.drum-pad[data-key="82"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #FF4081);
    border: 2px solid #FF4081;
}

.drum-pad[data-key="88"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #00E676);
    border: 2px solid #00E676;
}

.drum-pad[data-key="67"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #40C4FF);
    border: 2px solid #40C4FF;
}

/* Estilos al pasar el cursor sobre los pads */
/* .drum-pad:hover {
    background-color:;
} */

/* Estilos al presionar los pads */
.drum-pad:active, .drum-pad.pressed {
    transform: scale(0.9);
    background-color: #0056b3;
    box-shadow: 0 0 20px 5px rgba(11, 131, 119, 0.5);

}


/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
    

}

body.dark-mode #drum-pad-container {
    background-color: #FF0303;
}


/* Estilos para la barra de volumen. Temporal*/ 
#volumen {
    -webkit-appearance: none;
    width: 300px;
    height: 20px;
    background: linear-gradient(to right, #000 0%, #FF0000 100%);
    border-radius: 10px;
    outline: none;
    margin: 50px;
}

#volumen::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #FF0000;
    border-radius: 50%;
    cursor: pointer;
}

#volumen::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #FF0000;
    border-radius: 50%;
    cursor: pointer;
}

/* Para moviles */

@media (min-width: 1080px) {
    #buttons-container{
        position: relative;
        left: 470px;
        bottom: 483px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (min-width: 1080px) {
    #volumen{
        position: relative;
        left: -470px;
        bottom: 601px;
        display: flex;
        flex-direction: column;
        transform: rotate(90deg); /* Rotamos la barra 180 grados */
        writing-mode: bt-lr; /* Modo de escritura de abajo hacia arriba, de izquierda a derecha */
        gap: 20px;
    }
}


/*Estilos Botones de grabación y reproduccion */

.grabar-secuencia {
    background-image: url("./imgs/record.svg");
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 100%;
    background-size: 185%;
}

.reproducir-secuencia {
    background-image: url("./imgs/play.svg");
    width: 50px;
    height: 50px;
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 90%;
    border-radius: 100%;
}



/* Estilos para el switch de dark mode */

.switch-container {
    position: relative;
}

.switch-input {
    display: none;
    /* Oculta el input checkbox */
}

.switch-label {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #9336B4;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.switch-label.active {
    background-color: #40128B
}

.switch-inner {
    display: block;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease;
    background-image: url("./imgs/sun.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%   
}

.switch-inner.active {
    background-image: url("./imgs/moon.svg");
    background-size: 70%
}

/* Estilos para el switch cuando está activado */
.switch-input:checked+.switch-label .switch-inner {
    left: calc(100% - 28px);
}

.switch-switch {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}



