/* Establece la fuente Roboto para todo el contenido del body */
body * {
    font-family: "Roboto", sans-serif;
}

/* danos tamaño al texto, color, convertimos a mayuscula, creamos espaciado
le damos un margen y sombra de texto */
h1 {
    text-align: center;
    font-size: 3rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra de texto */
}

/* Estilos para el modo claro, con una transicion para camiar el fondo */
.light-mode {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilos para el modo oscuro, con una transicion para camiar el fondo */
.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}


/* Estilos para la fila de drum pads */
#drum-pad-row {
    display: flex;
    justify-content: center;
    padding: 50px 0;

}

/* Estilos para el contenedor de drum pads */
#drum-pad-container {
    background-color: white;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
    width: 70vw;
    height: 70vw;
    border-radius: 20px;
    transition: background-color 0.3s;
}

/* Estilos para el modo light */
.light-mode #drum-pad-container {
    background-color: #ffffff;
}

/* Estilos para el modo oscuro */
.dark-mode #drum-pad-container {
    background-color: #1a1a1a;
}

/* Estilos para los pads de batería */
.drum-pad {
    font-size: 20px;
    font-weight: 700;
    color: black;
    width: calc(33.33% - 10px);
    height: calc(33.33% - 10px);
    box-sizing: border-box;
    margin: 5px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 100ms ease-in;
}

/* Estilos para los pads de batería */
.drum-pad[data-key="65"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #FF5252);
    border: 2px solid #FF5252;
}

.drum-pad[data-key="83"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #FFD740);
    border: 2px solid #FFD740;
}

.drum-pad[data-key="68"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #69F0AE);
    border: 2px solid #69F0AE;
}

.drum-pad[data-key="70"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #536DFE);
    border: 2px solid #536DFE;
}

.drum-pad[data-key="87"] {
    background-image: url('https://i.pinimg.com/736x/c6/5e/af/c65eafe1a00b505ff4483a94a82a1eff.jpg');
        background-size: cover;
        /* Ajusta la imagen para cubrir todo el espacio del drum pad */
        background-position: center;
        /* Centra la imagen */
        border: none;
        /* Elimina el borde */
        box-shadow: none;
        /* Elimina la sombra */
        transition: transform 0.1s;
        /* Agrega una transición */
}

.drum-pad[data-key="69"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #FF5722);
    border: 2px solid #FF5722;
}

.drum-pad[data-key="82"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #FF4081);
    border: 2px solid #FF4081;
}

.drum-pad[data-key="88"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #00E676);
    border: 2px solid #00E676;
}

.drum-pad[data-key="67"] {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 25%, #40C4FF);
    border: 2px solid #40C4FF;
}

/* Estilos al pasar el cursor sobre los pads */
/* .drum-pad:hover {
    background-color:;
} */

/* Estilos al presionar los pads */
.drum-pad:active {
    background-color: #160d76;
    transform: scale(0.92); 
}


/* Estilos adicionales al presionar los pads */
.drum-pad:active::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 10px;
}

/* Estilos para el modo claro */
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

/* Estilos para el modo oscuro */
.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}



/* Estilos para la barra de volumen. Temporal*/ 
#volumen {
    -webkit-appearance: none;
    width: 200px;
    height: 20px;
    background: #f3f3f3;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    padding: 0;
    margin: 20px;
}


#volumen::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: #0078d4;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#volumen:focus {
    outline: none;
}

/* Estilos para el switch de dark mode */

.switch-container {
    position: relative;
}

.switch-input {
    display: none;
    /* Oculta el input checkbox */
}

.switch-label {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.switch-inner {
    display: block;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.3s ease;
}

/* Estilos para el switch cuando está activado */
.switch-input:checked+.switch-label .switch-inner {
    left: calc(100% - 28px);
}

.switch-switch {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}